@use "../partials/fonts.scss" as *;
@use "../partials/mixins.scss" as *;
@use "../partials/variables.scss" as *;

.header__nav {
  max-width: 100%;
  @include tablet {
    display: flex;
    margin-left: -110px;
    @include desktop {
      margin-left: 80px;
    }
  }
  &-box2 {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
}

.header__nav-box1 {
  display: flex;
  @include desktop {
    margin-left: 80px;
  }
}

#logo {
  margin-left: 130px;
  padding-top: 20px;
  height: 33px;
  @include desktop {
    margin-left: 30px;
    width: 70%;
  }
}

.header__nav-avatar {
  margin-left: -40px;
  margin-top: 17px;
  @include tablet {
    margin-left: 15px;
    margin-top: 15px;
  }
}

//searchbar//
.searchbar__text {
  width: 250px;
  height: 45px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 45px;
  background-image: url("../../assets/images/Icons/search.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  background-size: 23px;
  background-color: $Alabaster;
  border-color: $BrainFlix-Black;
  font-weight: 400;
  font-size: medium;
  color: Black;
  border-color: $Mercury;
  @include tablet {
    width: 200px;
    margin-left: 70px;
  }
}

//upload btn//
.upButton {
  width: 350px;
  height: 45px;
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  background-color: $Brain-Flix-Blue;
  border-color: $Brain-Flix-Blue;
  border-style: none;
  background-image: url("../../assets/images/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  background-size: 20px;
  & p {
    color: $Alabaster;
    font-weight: 700;
    size: 10px;
  }
  @include tablet {
    width: 150px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 15px;
  }
}
