@use "../partials/fonts.scss" as *;
@use "../partials/mixins.scss" as *;
@use "../partials/variables.scss" as *;

.videoviews__title > h2 {
  padding-bottom: 1rem;
  font-size: 34px;
  font-weight: 600;
  padding-left: 20px;
  color: $BrainFlix-Black;
  @include tablet {
    font-weight: 700;
  }
}

.videoviews__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $Silver;
  border-top: 2px solid $Mercury;
  border-bottom: 2px solid $Mercury;
  margin-left: 20px;
  @include tablet {
    border-top: 0px;
    margin-top: -40px;
  }
}

.videoviews__box1 {
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.videoviews__box1-channel {
  color: $BrainFlix-Black;
  font-weight: 700;
  padding-left: 6px;
}

.videoviews__box2 {
  margin-right: 60px;
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.videoviews__box2-views {
  padding-top: 10px;
}

.videoviews__box2-likes {
  padding-top: 10px;
}
