@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.video__description {
  padding-left: 20px;
  font-weight: 400;
  padding-right: 20;
  @include tablet{
    width: 98%;
  }
}


//3Comments//
.video__description-three {
  font-weight: 600;
  padding-left: 20px;
}
