@use "../../../styles/partials/fonts.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;
@use "../../../styles/partials/variables.scss" as *;

.nextvideos {
  padding-left: 20px;
  color: $Silver;
}

.nextvideos__img {
  border-radius: 6px;
}

.nextvideos__box {
  width: 120px;
  height: 70px;
  border-radius: 6px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 20px;
}

.nextvideos__info {
  width: 230px;
  padding-left: 140px;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop {
    width: 200px;
  }
}

.nextvideos__info-title {
  font-weight: 600;
}
