@font-face {
  font-family: "AvenirNext-normal";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext-bold";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
