//Media Queries//
$tablet: 768px;
$desktop: 1024px;

//primary colours//
$BrainFlix-Black: #323232;
$Brain-Flix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;

//secondary colours//
$BrainFlix-DarkBlack: #000000;
$Brain-Flix-Blue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
