body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "AvenirNext-normal";
  src: url("./assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext-semi-bold";
  src: url("./assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext-bold";
  src: url("./assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
